@{
    ViewBag.Title = "Retrieve";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="sub-header">Active Sprint</h2>
<h3 class="sub-header">Create UI and Backend Scaffolding</h3>
<p class="bg-primary">Task 1<br /></p>
<p class="bg-success">Task 2</p>
<p class="bg-info">Task 3</p>
<p class="bg-warning">Task 4</p>
<p class="bg-danger">Task 5</p>

<h2 class="sub-header">Future Sprints</h2>
<h3 class="sub-header">Choose a different sub-header/CSS setting for these titles.</h3>
<p class="bg-primary">Create Database and Connect to Project</p>
<p class="bg-success">Include Pagination below this paragraph</p>
<p class="bg-info">Task 3</p>

<h2 class="sub-header">Finished Sprints</h2>
<p class="bg-danger">Initial UI and Project Scaffolding</p>
